services:
  hadoop:
    image: hadoop-pseudo:latest
    build: .
    container_name: hadoop-single-cluster
    hostname: hadoop-single-cluster
    network_mode: bridge
    
    # Port mappings
    ports:
      # HDFS NameNode web UI
      - "9870:9870"
      # HDFS secondary NameNode web UI
      - "9868:9868"
      # HDFS DataNode web UI
      - "9864:9864"
      # YARN ResourceManager web UI
      - "8088:8088"
      # YARN NodeManager web UI
      - "8042:8042"
      # SSH access
      - "2222:22"
      # HDFS IPC (for communication)
      - "8020:8020"
      # YARN ResourceManager IPC
      - "8032:8032"
      # MapReduce JobHistory Server web UI
      - "19888:19888"
    
    # Volumes for persistent storage
    volumes:
      # HDFS namenode data
      - hadoop-namenode-data:/opt/hadoop-${HADOOP_VERSION}/hadoop-trungtvo-data/name
      # HDFS datanode data
      - hadoop-datanode-data:/opt/hadoop-${HADOOP_VERSION}/hadoop-trungtvo-data/data
      # Hadoop configurations
      - ./etc/hadoop/core-site.xml:/opt/hadoop-${HADOOP_VERSION}/etc/hadoop/core-site.xml
      - ./etc/hadoop/hdfs-site.xml:/opt/hadoop-${HADOOP_VERSION}/etc/hadoop/hdfs-site.xml
      - ./etc/hadoop/mapred-site.xml:/opt/hadoop-${HADOOP_VERSION}/etc/hadoop/mapred-site.xml
      - ./etc/hadoop/yarn-site.xml:/opt/hadoop-${HADOOP_VERSION}/etc/hadoop/yarn-site.xml
      - ./etc/hadoop/hadoop-env.sh:/opt/hadoop-${HADOOP_VERSION}/etc/hadoop/hadoop-env.sh
    
    # Environment variables
    environment:
      HADOOP_HOME: /opt/hadoop-${HADOOP_VERSION}
      JAVA_HOME: /usr/lib/jvm/java-21-openjdk-arm64
    
    # Keep container running
    stdin_open: true
    tty: true
    
    # Restart policy
    restart: unless-stopped

volumes:
  hadoop-namenode-data:
    driver: local
  hadoop-datanode-data:
    driver: local
